/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}



/* regole di debug
[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;
  padding: 2px;
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

.centra-head-foot{
  padding: 0 10%;
}

/* header */

header {
  padding-top: 100px;
}

#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}
.logo{
  text-align: center;
  line-height: 100px;
}
.menu li{
  display: inline-block;
 text-align: center;
 line-height: 100px;
}
.menu li a{
  color: black;
  text-decoration: none;
  padding: 8px;
  font-size: 12px;
}
#jumbo{
    background: url("../img/jumbo.jpg");
    background-size: cover;
    height: 400px;
    min-height: 400px;
    background-position: center;
    position: relative;
}
#jumbo h1{
  color: white;
  font-size: 45px;
  text-align: center;
  line-height: 200px;
}
#jumbo p{
  color: white;
  font-size: 15px;
  text-align: center;
  margin-top: -70px;
}
.bottoni-download{
  text-align:center;
}
button{
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
  color: white;
  width: 150px;
  border: black;
  display: inline-block;
}

#nav-mobile {
  display: none;
}

#jumbo {
  padding-top: 50px;
  min-height: 300px;
}

/* regole corpo pagina */

.centra-sez1 {
  padding: 0 5%;
}

.img-anziano{
  padding-top: 50px;
  min-height: 300px;
}
.img-parco{
  padding-top: 50px;
  min-height: 300px;
}

.img-download{
  padding-top: 50px;
  min-height: 300px;
}

.img-citta{
  padding-top: 50px;
  min-height: 300px;
}

.img-social{
  padding-top: 50px;
  min-height: 300px;
}
