/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}



/* regole di debug
[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;
  padding: 2px;
}*/

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

.centra-head-foot{
  padding: 0 10%;
}

/* header */

header {
  padding-top: 100px;
}

#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}
.logo{
  text-align: center;
  line-height: 100px;
}
.menu li{
  display: inline-block;
 text-align: center;
 line-height: 100px;
}
.menu li a{
  color: black;
  text-decoration: none;
  padding: 8px;
  font-size: 12px;
}
#jumbo{
    background: url("../img/jumbo.jpg");
    background-size: cover;
    height: 400px;
    min-height: 400px;
    background-position: center;
    position: relative;
}
#jumbo h1{
  color: white;
  font-size: 45px;
  text-align: center;
  line-height: 200px;
}
#jumbo p{
  color: white;
  font-size: 15px;
  text-align: center;
  margin-top: -70px;
}
.bottoni-download{
  text-align:center;
}
button{
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
  color: white;
  width: 150px;
  border: black;
  display: inline-block;

}

/* sezione 1 */
.centra-sez1{
  margin-top: 50px;
  text-align: center;
}
.centra-sez1 img{
  height: 300px;
  margin-top: 40px;
  max-width: 100%;
}
.centra-sez1 h1{
  font-size: 35px;
}
.centra-sez1 p{
  font-size: 20px;
}
.centra-sez1 button{
  background-color: white;
  color: blue;
  font-size: 15px;
  text-align: center;
}

/* sezione 2 */
 #img-anziano{
  min-height: 300px;
  height: 200px;
}
#img-telefono{
  height: 200px;
  width: 250px;
  position: relative;
  margin-left: 35%;
  margin-top: -200px;
}
.sez2 h2{
  font-size: 30px;
  margin-top: 200px;
  width: 200px;
  margin-left: 200px;
}
.sez2 h5{
width: 200px;
margin-top: 200px;
margin-left: 200px;
}
.sez2 p{
  width: 200px;
  margin-left: 200px;
}

/* sezione 3 */

#img-parco{
  background: url("../img/bike.jpg");
  background-size: cover;
  height: 400px;
  min-height: 400px;
  background-position: center;
  position: relative;
  margin-top: 150px;
}
.smart-mobility{
  margin-left: 700px;
  text-align: center;
  color: white;
  width: 250px;
}
.smart-mobility h1{
  font-size: 30px;
}
.smart-mobility button{
  background-color: inherit;
  color: white;
  font-size: 15px;
  text-align: center;
}
.download{
  background-color: #00323F;
  color: white;
  margin-top: 50px;
  height: 400px;
  text-align: center;
}
.download button{
  background-color: inherit;
  color: white;
  font-size: 15px;
  text-align: center;
  display: contents;

}
.img-download{
  background: url("../img/sfondo_info2.png");
  background-size: cover;
  height: 265px;
  background-position: center;
  width: 200px;
  margin-left: 180px;

}

.citta{
  background: url("../img/citta.jpg");
  background-size: cover;
  height: 400px;
  min-height: 400px;
  background-position: center;
  margin-top: 50px;
  text-align: center;
  color: white;
  margin-left: 30px;

}

.citta button{
  background-color: inherit;
  color: white;
  font-size: 15px;
  text-align: center;
}


.img-social{
  background: url("../img/pachwork.jpg");
  background-size: cover;
  height: 300px;
  background-position: center;
  width: 100%;
  margin-top: 50px;


}

.testo-social{
  width: 350px;
  height: 150px;
  background-color: white;
  text-align: center;
  margin-left: 500px;
  line-height: 50px;
}

.menu-social li {
  display: inline-block;
 text-align: center;
 line-height: 100px;
}

.menu-social li a{
  color: black;
  text-decoration: none;
  padding: 8px;
  font-size: 25px;
}

.container-black{
  background-color: black;
  height: 700px;
  width: 100%;
  padding: 100px;
  margin-top: 50px;
}
.container-black h1{
  color: white;
  font-size: 20px;
}
.container-black h3{
  color: white;
  font-size: 15px;
}
.container-black hr{
  color: grey;
}



.menu-footer li a{
  color: grey;
  text-decoration: none;
  padding: 8px;
  font-size: 10px;
}

.menu-footer-social li{
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu-footer-social li a{
  color: white;
}

.condizioni h3{
  font-size: 15px;
  padding: 10px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bottoni-download-footer{
  display: flex;
  margin-top: 30px;
}
.bottoni-download-footer button{
  border: 1px solid white;
  margin-left: 5px;
}


#nav-mobile {
  display: none;
}

#jumbo {
  padding-top: 50px;
  min-height: 300px;
}

/* regole corpo pagina */

.centra-sez1 {
  padding: 0 5%;
}

/*.img-anziano{
  padding-top: 50px;
  min-height: 300px;
}
.img-parco{
  padding-top: 50px;
  min-height: 300px;
}

.img-download{
  padding-top: 50px;
  min-height: 300px;
}

.img-citta{
  padding-top: 50px;
  min-height: 300px;
}

.img-social{
  padding-top: 50px;
  min-height: 300px;
}*/
